.header {
  position: absolute;
  top: 5rem;
  margin: 0 25%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 50%;
  h1 {
    color: hsl(0, 0%, 98%);
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 15px;
  }
  .theme-switcher {
    align-self: center;
  }
}
