
.header {
  position: absolute;
  top: 3rem;
  margin: 0 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;

  h1 {
    color: hsl(0, 0%, 98%);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 15px;
  }
  .theme-switcher {
    align-self: center;
  }
}
@media screen and (min-width:600px){
  .header {
    top: 5rem;
    margin: 0 25%;
    width: 50%;
    gap: 40%;
    h1 {
      color: hsl(0, 0%, 98%);
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 15px;
    }
   
  }
  
}
