body {
  background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.dark {
  background-color: hsl(235, 24%, 19%);
}
.light {
  background-color: white;
}
@media screen and (min-width:600px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
  }
}
