<div class="task-list">
  <ul *ngFor="let task of tasks">
    <li>
      <div class="task">
        <button class="checkBtn">
          <img src="../../../assets/images/icon-check.svg" alt="check button" />
        </button>
        <h3>{{task.task}}</h3>
        <button class="deleteBtn">
          <img src="../../../assets/images/icon-cross.svg" alt="delete" />
        </button>
      </div>
    </li>
    <hr />
  </ul>
  <div class="footer">
    <h4 class="left">{{tasks.length}} items left</h4>
    <div class="tasks-control desktop">
      <button>All</button>
      <button>Active</button>
      <button>Completed</button>
    </div>
    <h4 class="clear">Clear Completed</h4>
  </div>
  <div class="tasks-control mobile">
    <button>All</button>
    <button>Active</button>
    <button>Completed</button>
  </div>
</div>
