.task-list {
  background-color: white;
  margin: 0 5% 0 5%;
  border-radius: 4px;
  position: absolute;
  top: 11rem;
  width: 90%;

  ul {
    hr {
      height: 1px;
      border-width: 0;
      color: gray;
      background-color: lightgray;
    }

      li {
        list-style: none;
        .task {
          display: flex;
          justify-content: space-between;
          padding: 0.6rem;
          align-items: baseline;
          h3 {
            color: hsl(235, 19%, 35%);
            font-weight: 400;
            margin-left: 2.4rem;
            position: absolute;
            margin-top: 0.5rem;
            font-size: 0.9rem;
          }
          button {
            background-color: transparent;
          }
          .checkBtn {
            margin-left: 0.4rem;
            border-radius: 50%;
            border: 1px solid lightgray;
            padding: 4px;
            img {
              visibility: hidden;
            }
          }
          .deleteBtn {
            background-color: transparent;
            border: none;
            position: absolute;
            right: 1rem;
          }
        }
      }
  }

  .footer {
    border: 1px black solid;
    display: grid;
    grid-template-columns: 'left . btns . clear';
    gap: 10%;
    color: hsl(235, 19%, 35%);
    padding: 1.5rem;
    color: gray;
    h4 {
      font-weight: 400;
    }
    .left {
      grid-area: left;
    }
    .clear {
      grid-area: clear;
    }
    .tasks-control {
      grid-area:btns ;
      button {
        font-weight: 700;
        color: gray;
        background-color: transparent;
        border: none;
        padding: 0 1rem;
      }
      button:active {
        color: hsl(220, 98%, 61%);
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .task-list {
    margin: 0 25% 0 25%;
    border-radius: 8px;
    top: 16rem;
    width: 50%;
    ul {
      li {
        .task {
          padding: 1rem;
          h3 {
            margin-left: 4rem;
          }
          button {
            background-color: transparent;
          }
          .checkBtn {
            margin-left: 1rem;
            border-radius: 50%;
            border: 1px solid lightgray;
            padding: 8px;
            img {
              visibility: hidden;
            }
          }
        }
      }
    }

    
  }
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
