<div class="task-input light">
  <button>
      <img class="hide"src="../../../assets/images/icon-check.svg" alt="">
  </button>
  <input type="text" name="task" id="task" placeholder="Create a new todo..." (keydown)="addTask($event)">
</div>

<div class="task-list">
  <ul *ngFor="let task of tasks">
    <li>
      <div class="task">
        <button class="checkBtn" (click)="checkTask($event)">
          <img src="../../../assets/images/icon-check.svg"  class="checkedImg hide" alt="check" />
        </button>
        <h3 class="taskContent ">{{task.task}}</h3>
        <button class="deleteBtn" (click)="deleteTask($event)">
          <img src="../../../assets/images/icon-cross.svg" alt="delete" />
        </button>
      </div>
    </li>
    <hr />
  </ul>
  <div class="footer">
    <div class="tasks-control desktop">
      <button>All</button>
      <button>Active</button>
      <button>Completed</button>
    </div>
    <h4 class="clear">Clear Completed</h4>
  </div>
  <div class="tasks-control mobile">
    <button>All</button>
    <button>Active</button>
    <button>Completed</button>
  </div>
</div>
