button {
  cursor: pointer;
}
.task-list {
  margin: 0 5% 0 5%;
  border-radius: 5px;
  position: absolute;
  top: 11rem;
  width: 90%;

  ul {
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    hr {
      height: 1px;
      border-width: 0;
      color: gray;
      background-color: lightgray;
    }

    li {
      border-radius: 4px;
      list-style: none;
      .tasks {
        display: flex;
        justify-content: space-between;
        padding: 0.6rem;
        align-items: baseline;
        .task {
          display: flex;
        }
        h3 {
          color: hsl(235, 19%, 35%);
          font-weight: 400;
          margin-left: 2.4rem;
          position: absolute;
          margin-top: 0.5rem;
          font-size: 0.9rem;
        }

        .checkBtn {
          background-color: transparent;
          margin-left: 0.4rem;
          border-radius: 50%;
          border: 1px solid lightgray;
          padding: 4px;
          svg {
            pointer-events: none;
          }
        }

        .deleteBtn {
          background-color: transparent;
          border: none;
          position: absolute;
          right: 1rem;
          img {
            width: 16px;
          }
        }
      }
    }
  }

  .footer {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    color: hsl(235, 19%, 35%);
    padding: 1rem;
    color: gray;
    .clear {
      font-weight: 400;
      font-size: 0.8rem;
      border: none;
      background-color: transparent;
      color: gray;
    }
    .desktop {
      display: none;
    }
    
  }
  .tasks-control {
    background-color: white;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;

    button {
      font-weight: 700;
      color: gray;
      background-color: transparent;
      border: none;
      padding: 0 1rem;
    }
    button:active {
      color: hsl(220, 98%, 61%);
    }
    
    button:focus {
      color: hsl(220, 98%, 61%);
    }
  }
}


@media screen and (min-width: 850px) {
  .task-list {
    margin: 0 25% 0 25%;
    border-radius: 8px;
    top: 16rem;
    width: 50%;
    ul {
      li {
        .tasks {
          padding: 1rem;
          h3 {
            margin-left: 4rem;
          }
          .checkBtn {
            margin-left: 1rem;
            border-radius: 50%;
            border: 1px solid lightgray;
            padding: 8px;
          }
        }
      }
    }

    .mobile {
      display: none;
    }
    .footer {
      padding: 1.3rem;
      align-items: center;
      .desktop {
        display: inline;
        margin-top: 0;
        padding: 0;
      }
    }
  }

  .header {
    top: 5rem;
    margin: 0 25%;
    width: 50%;
    gap: 40%;
    h1 {
      color: hsl(0, 0%, 98%);
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 15px;
    }
  }
}

.hide {
  visibility: hidden;
}
.show {
   visibility: visible;
}

.strike {
  text-decoration: line-through;
}

.active {
  color: hsl(220, 98%, 61%);
}
.dark {
  background-color: hsl(235, 24%, 19%);
}
.light {
  background-color: white;
}
.isChecked {
  background-image: linear-gradient(
    50deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}
